export const FB_APIKEY = "";
export const FB_AUTH_DOMAIN = "";
export const FB_DATABASE_URL = "";
export const FB_PROJECT_ID = "";
export const FB_STORAGE_BUCKET = "";
export const FB_SENDER_ID = "";
export const FB_APPID = "";

